<div class="homepage">
  <h2>Welcome to the Android Census.</h2>
  This is a collection of low-level configuration information for <%= Device.count %> unique Android installations. The raw dataset is available <a href="https://www.dropbox.com/s/g1jfupklr97q4cg/census_042915.db.bz2">here</a>.
  <br />
  Begin exploring it <a href="/devices">here</a>, or check out the source code on GitHub (<a href="https://github.com/vlad902/censustaker">client</a>, <a href="https://github.com/vlad902/census.tsyrklevich.net">server</a>).
  <br />
  <h4>Related projects</h4>
  Another Android device data set is the <a href="http://androiddevice.info">Android Device Inventory</a>.
  <br />
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Census overview</h4>
  </div>
  <div class="panel-body">
    <div id="versionsChart" class="col-md-6 column"></div>
    <div id="manufacturersChart" class="col-md-6 column"></div>
  </div>
</div>

<!-- Actually generate the pie graphs -->
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
<script src="/js/d3pie.min.js"></script>
<script>
function pieChart(element, title, endpoint) {
  d3.json(endpoint, function(error, json) {
    new d3pie(element, {
      "header": {
        "title": {
          "text": title,
          "fontSize": 24,
          "font": "open sans"
        },
        "subtitle": {
          "color": "#999999",
          "fontSize": 12,
          "font": "open sans"
        },
        "titleSubtitlePadding": 9
      },
      "footer": {
        "color": "#999999",
        "fontSize": 10,
        "font": "open sans",
        "location": "bottom-left"
      },
      "size": {
        "canvasWidth": 590
      },
      "data": {
        "sortOrder": "value-desc",
        "content": json
      },
      "labels": {
        "outer": {
          "pieDistance": 32
        },
        "inner": {
          "format": "value",
          "hideWhenLessThanPercentage": 3
        },
        "mainLabel": {
          "fontSize": 11
        },
        "percentage": {
          "color": "#ffffff",
          "decimalPlaces": 0
        },
        "value": {
          "color": "#000000",
          "fontSize": 11
        },
        "lines": {
          "enabled": true
        }
      },
      "effects": {
        "pullOutSegmentOnClick": {
          "effect": "linear",
          "speed": 400,
          "size": 8
        }
      },
      "misc": {
        "gradient": {
          "enabled": true,
          "percentage": 100
        }
      }
    });
  });
}

pieChart("versionsChart", "Android Versions", "/piechart/versions.json");
pieChart("manufacturersChart", "Android Manufacturers", "/piechart/manufacturers.json");
</script>
